h1
 font-size: 1.39em

h2
  font-size: 1.28em

h3
  font-size: 1.18em

h4
  font-size: 1.08em

h5
  font-size: 0.98em

h6
  font-size: 0.88em

.theme-container .sidebar > .sidebar-links > li > a.sidebar-link
  font-size: 0.98em
  font-weight: 500

.theme-default-content:not(.custom) > h1, .theme-default-content:not(.custom) > h2, .theme-default-content:not(.custom) > h3, .theme-default-content:not(.custom) > h4, .theme-default-content:not(.custom) > h5, .theme-default-content:not(.custom) > h6
  padding-bottom: 0.68em
  font-weight: 500

.navbar
  border-bottom: none

.sidebar .sidebar-sub-headers
  padding-left: 0.3rem

.sidebar
  border: none

.theme-default-content:not(.custom)
  max-width: calc(100vw - 26rem)
  margin: 0 auto
  padding: 2rem 2.5rem

body .page-edit,body .page-nav
  max-width: 100%;
