body {
  overflow: hidden;
  font-family: Microsoft YaHei;
  background: transparent !important;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

* {
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  font-family: Arial,Helvetica,sans-serif;
  /* For some Androids */
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}
/*---滚动条默认显示样式--*/
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.3);
  height: 50px;
  outline-offset: -2px;
  outline: none;
  -webkit-border-radius: 4px;
  border: none;
}
/*---鼠标点击滚动条显示样式--*/
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0,0,0,0.3);
  height: 50px;
  -webkit-border-radius: 4px;
}
/*---滚动条大小--*/
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
/*---滚动框背景样式--*/
::-webkit-scrollbar-track-piece {
  background-color: transparent;
  -webkit-border-radius: 0;
}

::-webkit-scrollbar-thumb:active {
  height: 50px;
  background-color: rgba(0,0,0,0.3);
  -webkit-border-radius: 4px;
}

.van-overlay {
  background-color: rgba(0,0,0,.3);
}

input[disabled="disabled"],
select[disabled="disabled"] {
  background: transparent;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: $funtask-text-color-placeholder;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: $funtask-text-color-placeholder;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: $funtask-text-color-placeholder;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: $funtask-text-color-placeholder;
}

[lazy="loading"] {
  object-fit: none !important;
}
