@font-face {
  font-family: 'iconfont';  /* project id 1569162 */
  src: url('http://at.alicdn.com/t/font_1569162_1je9kh65v3oh.eot');
  src: url('http://at.alicdn.com/t/font_1569162_1je9kh65v3oh.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_1569162_1je9kh65v3oh.woff2') format('woff2'),
  url('http://at.alicdn.com/t/font_1569162_1je9kh65v3oh.woff') format('woff'),
  url('http://at.alicdn.com/t/font_1569162_1je9kh65v3oh.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_1569162_1je9kh65v3oh.svg#iconfont') format('svg');
}

.iconfont {
  font-family: 'iconfont';
}
