@font-face {
  font-family: 'iconfont';  /* project id 1569162 */
  src: url('http://at.alicdn.com/t/font_1569162_iwnh09kp7b.eot');
  src: url('http://at.alicdn.com/t/font_1569162_iwnh09kp7b.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_1569162_iwnh09kp7b.woff2') format('woff2'),
  url('http://at.alicdn.com/t/font_1569162_iwnh09kp7b.woff') format('woff'),
  url('http://at.alicdn.com/t/font_1569162_iwnh09kp7b.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_1569162_iwnh09kp7b.svg#iconfont') format('svg');
}

.iconfont {
  font-family: 'iconfont';
  font-style: normal;
}
