@font-face {
  font-family: 'iconfont';  /* project id 1569162 */
  src: url('http://at.alicdn.com/t/font_1569162_k6oc5dbh8x.eot');
  src: url('http://at.alicdn.com/t/font_1569162_k6oc5dbh8x.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_1569162_k6oc5dbh8x.woff2') format('woff2'),
  url('http://at.alicdn.com/t/font_1569162_k6oc5dbh8x.woff') format('woff'),
  url('http://at.alicdn.com/t/font_1569162_k6oc5dbh8x.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_1569162_k6oc5dbh8x.svg#iconfont') format('svg');
}

.iconfont {
  font-family: 'iconfont';
  font-style: normal;
}
