@font-face {
  font-family: 'iconfont';  /* project id 1367020 */
  src: url('//at.alicdn.com/t/font_1367020_wfyiwz9dw7.eot');
  src: url('//at.alicdn.com/t/font_1367020_wfyiwz9dw7.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1367020_wfyiwz9dw7.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1367020_wfyiwz9dw7.woff') format('woff'),
  url('//at.alicdn.com/t/font_1367020_wfyiwz9dw7.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1367020_wfyiwz9dw7.svg#iconfont') format('svg');
}

.iconfont {
  font-family: 'iconfont';
}
