@font-face {
  font-family: "iconfont"; /* Project id 1569162 */
  src: url('iconfont.woff2?t=1644596836258') format('woff2'),
       url('iconfont.woff?t=1644596836258') format('woff'),
       url('iconfont.ttf?t=1644596836258') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-android:before {
  content: "\e609";
}

.icon-windows:before {
  content: "\e898";
}

.icon-mac:before {
  content: "\e60e";
}

.icon-linux:before {
  content: "\e6c1";
}

.icon-icon-:before {
  content: "\e6df";
}

.icon-youjiantou:before {
  content: "\e625";
}

.icon-loading:before {
  content: "\e640";
}

.icon-shanchu:before {
  content: "\e619";
}

.icon-zanting:before {
  content: "\e76a";
}

.icon-bofang:before {
  content: "\e61c";
}

.icon-icon--:before {
  content: "\e71f";
}

.icon-iconfont89:before {
  content: "\e752";
}

.icon-wenjian:before {
  content: "\e624";
}

.icon-icon-test:before {
  content: "\e605";
}

.icon-huabanfuben:before {
  content: "\eb7d";
}

.icon-fankui:before {
  content: "\e61e";
}

.icon-application:before {
  content: "\e63c";
}

.icon-ziyuan:before {
  content: "\e63a";
}

.icon-kaifa:before {
  content: "\e600";
}

.icon-zhuti_tiaosepan_o:before {
  content: "\eb6e";
}

.icon-jianhao1:before {
  content: "\e63e";
}

.icon-caidan1:before {
  content: "\e67c";
}

